fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

requests==2.32.3
pandas==2.2.2

geopandas==1.0.1
shapely==2.0.5
pyproj==3.6.1
fiona==1.9.6

matplotlib==3.9.2
python-docx==1.1.2
